<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="apple-mobile-web-app-title" content="Kensaku">

 <meta name="keywords" content="日语词典　Japanese dictionary  日本語辞書 일본어 사전">
    <meta name="description" content="Japanese dictionary for native English speakers 英語を母国語とする人のための日本語辞書 영어 원어민을 위한 일본어 사전">
    <link rel="stylesheet" media="screen" href="https://assets.jisho.org/assets/application-61d8e80944056be2e8c772e3d3b243767cc3550ca5b7da4d62ba58a5604fc3c3.css" />
    <link rel="shortcut icon" type="image/x-icon" href="https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/owl_1f989.png" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9990645318656892"
     crossorigin="anonymous"></script>

<style>

	.overlay{
		display: flex;
		flex-direction: column;
	}
	.search_main{
		align-self: center;

	}
   .toplogo_parent{
      display: flex;
      flex-direction: column;
   }
   .toplogo_sub{
      align-self: center;
   }
   .fronter_result{
      display: flex;
      flex-direction: column;
   }
   .search_result{
      align-self: center;
   }
   .words_format   {	width: 100px;
	       padding-bottom: 0px;
	       border-bottom: 2px solid #ff5252;
   }
   .words_meanings{
      border-width:10px;
border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; -o-border-radius: 20px;
   background-color: #f0f2f5;



   }
   .example_translate{
	   font-size: 15px;
	   color:darkgray;
   }
   div rt  {
	   color: #ff5252;
font-weight:bold;

   }


</style>

  </head>

<header class="row collapse" >

<div class="toplogo_parent">
  <br><br><br><br><br><br><br><br>


   <div class="toplogo_sub">
      <img height="680px" width="680px" src="https://images2.imgbox.com/15/77/qCD1rJGT_o.png">
    </div>


</div>



</header>
<body>


    <div class="row collapse">
      <div class="large-12 columns">
        <form class="search" data-live="false" id="search" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />  <div id="input_methods" class="input_methods">







  </div>

<!--      搜索框    overlay-->
  <div class="overlay" >
    <div id="search_main" class="main"style="width:920px;">
<div class="fronter_inner">
    <div class="inner" w>

        <button type="submit" class="submit icon" tabindex="2">


 <img  width="25px" height="25px" src="https://icons.veryicon.com/png/o/miscellaneous/facet-icon-5/search-grey-1.png">

        </button>
        <a class="search-form_clear-button_js search-form_clear-button icon" accesskey="1" tabindex="3">
         </a>

        <div class="text_input">
          <div class="hidden range" style="font-size: 22px; font-weight: 400; display: none;"></div>
          <input type="text" class="keyword japanese_gothic" name="keyword" id="keyword" value="" tabindex="1" lang="ja" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="Japanese,日本語を入力してください" data-autoload="true" data-effective-keyword="actual">
        </div>
      </div>
</div>
    </div></div></form></div></div>




<!--      搜索结果    search_result-->
<div class="fronter_result">
    <div class="search_result">
            <h3><ruby>通<rp>(</rp><rt>とお</rt><rp>)</rp></ruby>り</h3>


	<span class="meanings">
        <div class="words_format">［名］［接尾］助数詞。</div>
        <d><br></d>
        <div class="words_meanings">
            <br>&nbsp;&nbsp;人や車のとおるところ。道路。往来。「にぎやかな—」
            <br>&nbsp;&nbsp; 人や車が行ったり来たりすること。通行。ゆきき。往来。「車の—が激しい道」
            <br>&nbsp;&nbsp;気体や液体が流れかようこと。流通。「風の—がいい」「下水の—が悪い」
            <br>&nbsp;&nbsp;声や音などがよく伝わること。「声の—がいい」
            <br>&nbsp;&nbsp;広く知れわたっていること。評判。「彼の名は—がよい」
            <br>&nbsp;&nbsp;同じ状態・方法であること。「予想した—の成果が出た」「私の言った—だ」「今までの—に行う」
            <br>&nbsp;&nbsp;理解。のみこみ。「—のよい説明」
            <br>&nbsp;&nbsp;組になっているものを数えるのに用いる。「道具を二—そろえる」
            <br>&nbsp;&nbsp;種類を数えるのに用いる。「やり方が三—ある」




            <br><br>

        </div>
        <br>
        <div class="example_ja"><ruby>君<rp>(</rp><rt>きみ</rt><rp>)</rp></ruby>の<ruby>考<rp>(</rp><rt>かんが</rt><rp>)</rp></ruby>え<ruby>通<rp>(</rp><rt>どお</rt><rp>)</rp></ruby>りにしたまえ</div>
        <div class="example_translate">하고 싶은 대로 하세요, 하고 싶은 대로 하세요.</div>
        <br>
        <div class="example_ja"><ruby>予想<rp>(</rp><rt>よそう</rt><rp>)</rp></ruby><ruby>通<rp>(</rp><rt>どお</rt><rp>)</rp></ruby>りの<ruby>結果<rp>(</rp><rt>けっか</rt><rp>)</rp></ruby>が<ruby>出<rp>(</rp><rt>で</rt><rp>)</rp></ruby>た</div>
        <div class="example_translate">결과는 예상대로였습니다.</div>
        <br>
                <div class="example_ja"><ruby>代表<rp>(</rp><rt>だいひょう</rt><rp>)</rp></ruby><ruby>団<rp>(</rp><rt>だん</rt><rp>)</rp></ruby>は<ruby>予定<rp>(</rp><rt>よてい</rt><rp>)</rp></ruby><ruby>通<rp>(</rp><rt>どお</rt><rp>)</rp></ruby>りきょう<ruby>東京<rp>(</rp><rt>とうきょう</rt><rp>)</rp></ruby>に<ruby>到着<rp>(</rp><rt>とうちゃく</rt><rp>)</rp></ruby>した
</div>
        <div class="example_translate">대표단은 예정대로 오늘 도쿄에 도착했다.</div>
        <br>
                <div class="example_ja"><ruby>期日<rp>(</rp><rt>きじつ</rt><rp>)</rp></ruby><ruby>通<rp>(</rp><rt>どお</rt><rp>)</rp></ruby>り<ruby>任務<rp>(</rp><rt>にんむ</rt><rp>)</rp></ruby>を<ruby>完成<rp>(</rp><rt>かんせい</rt><rp>)</rp></ruby>する
</div>
        <div class="example_translate">기일대로 임무를 완성한다</div>
        <br>


	</span>
</div>
</div>
</body>

</html>
