<!DOCTYPE html>
<html data-color-theme="light">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="apple-mobile-web-app-title" content="Jisho">
    <meta name="theme-color" content="#47DB27">
    <link href="/opensearch.xml" rel='search' title='Jisho' type='application/opensearchdescription+xml'>
    <link rel="icon" href="https://assets.jisho.org/assets/touch-icon-017b99ca4bfd11363a97f66cc4c00b1667613a05e38d08d858aa5e2a35dce055.png">
    <link rel="apple-touch-icon" href="https://assets.jisho.org/assets/touch-icon-017b99ca4bfd11363a97f66cc4c00b1667613a05e38d08d858aa5e2a35dce055.png">



    <link rel="stylesheet" media="screen" href="https://assets.jisho.org/assets/application-61d8e80944056be2e8c772e3d3b243767cc3550ca5b7da4d62ba58a5604fc3c3.css" />
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="" />

    <link rel="shortcut icon" type="image/x-icon" href="https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/owl_1f989.png" />

<style>
	

   .toplogo_parent{
      display: flex;
      flex-direction: column;
   }
   .toplogo_sub{
      align-self: center;
   }
   .fronter_result{
      display: flex;
      flex-direction: column;
   }
   .search_result{
      align-self: center;
   }
   .words_format   {	width: 100px;
	       padding-bottom: 0px;
	       border-bottom: 2px solid #ff5252;
   }
   .words_meanings{
border-radius: 20px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px;
   background-color: #f0f2f5;
	   
	   
   }
   .example_translate{
	   font-size: 15px;
	   color:darkgray;
   }
   div rt  {
	   color: #ff5252;
font-weight:bold;

   }


</style>

  </head>

<header class="row collapse" >

<div class="toplogo_parent">
  <br><br><br><br><br><br><br><br>


   <div class="toplogo_sub">
      <img height="380px" width="380px" src="https://images2.imgbox.com/6d/d8/827kMs82_o.png">
    </div>


</div>



</header>
<body>


    <div class="row collapse">
      <div class="large-12 columns">
        <form class="search" data-live="false" id="search" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />  <div id="input_methods" class="input_methods">







  </div>

<!--      搜索框    overlay-->
  <div class="overlay" style="width:950px;">
    <div id="search_main" class="main">
<div class="fronter_inner">
    <div class="inner" w>

        <button type="submit" class="submit icon" tabindex="2">


 <img  width="25px" height="25px" src="https://icons.veryicon.com/png/o/miscellaneous/facet-icon-5/search-grey-1.png">

        </button>
        <a class="search-form_clear-button_js search-form_clear-button icon" accesskey="1" tabindex="3">
         </a>

        <div class="text_input">
          <div class="hidden range" style="font-size: 22px; font-weight: 400; display: none;"></div>
          <input type="text" class="keyword japanese_gothic" name="keyword" id="keyword" value="" tabindex="1" lang="ja" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="Japanese,日本語を入力してください" data-autoload="true" data-effective-keyword="actual">
        </div>
      </div>
</div>
    </div></div></form></div></div>




<!--      搜索结果    search_result-->
<div class="fronter_result">
    <div class="search_result">
    <h3><ruby>同然<rp>(</rp><rt>どうぜん</rt><rp>)</rp></ruby></h3>
	<span class="meanings">
        <div class="words_format">名・形动</div>
        <d><br></d>
        <div class="words_meanings"><br>（和……）一样；（简直跟）……一样，等于……。（同じであること。同様。）<br><br></div>
        <br>

        <div class="example_ja">これでは<ruby>失敗<rp>(</rp><rt>しっぱい</rt><rp>)</rp></ruby>も<ruby>同然<rp>(</rp><rt>どうぜん</rt><rp>)</rp></ruby>だ</div>
        <div class="example_translate">那样就等于失败了。</div>
        <br>
        <div class="example_ja">あいつは<ruby>獣<rp>(</rp><rt>しし</rt><rp>)</rp></ruby>も<ruby>同然<rp>(</rp><rt>どうぜん</rt><rp>)</rp></ruby>だ</div>
        <div class="example_translate">他简直和野兽一样。</div>
        <br>
         <div class="example_ja">ただも<ruby>同然<rp>(</rp><rt>どうぜん</rt><rp>)</rp></ruby>の<ruby>値段<rp>(</rp><rt>ねだん</rt><rp>)</rp></ruby></div>
        <div class="example_translate">等于白给〔奉送〕的价钱。</div>
        <br>
	</span>
</div>
</div>

</body>

</html>
